[submodule "Fragaria"]
	path = Fragaria
	url = /Users/Jonathan/Documents/Computing/github/Mugginsoft/Fragaria
[submodule "yamlkit"]
	path = yamlkit
	url = /Users/Jonathan/Documents/Computing/github/Mugginsoft/yamlkit
[submodule "parsekit"]
	path = parsekit
	url = /Users/Jonathan/Documents/Computing/github/Mugginsoft/parsekit
[submodule "markdownlive"]
	path = markdownlive
	url = /Users/Jonathan/Documents/Computing/github/Mugginsoft/markdownlive
[submodule "qlmarkdown"]
	path = qlmarkdown
	url = /Users/Jonathan/Documents/Computing/github/Mugginsoft/qlmarkdown
[submodule "F-Script"]
	path = F-Script
	url = /Users/Jonathan/Documents/Computing/github/Mugginsoft/F-Script
[submodule "jscocoa"]
	path = jscocoa
	url = /Users/Jonathan/Documents/Computing/github/Mugginsoft/jscocoa
[submodule "feedbackreporter"]
	path = feedbackreporter
	url = /Users/Jonathan/Documents/Computing/github/Mugginsoft/feedbackreporter
[submodule "EMKeyChain"]
	path = EMKeyChain
	url = /Users/Jonathan/Documents/Computing/github/Mugginsoft/EMKeyChain
[submodule "OpenFeedback"]
	path = OpenFeedback
	url = /Users/Jonathan/Documents/Computing/github/Mugginsoft/OpenFeedback
[submodule "PSMTabBarControl"]
	path = PSMTabBarControl
	url = /Users/Jonathan/Documents/Computing/github/Mugginsoft/PSMTabBarControl
[submodule "MGTemplateEngine"]
	path = MGTemplateEngine
	url = /Users/Jonathan/Documents/Computing/github/Mugginsoft/MGTemplateEngine
[submodule "TCMPortMapper"]
	path = TCMPortMapper
	url = /Users/Jonathan/Documents/Computing/github/Mugginsoft/TCMPortMapper
