[submodule "Fragaria"]
	path = Fragaria
	url = git@github.com:mugginsoft/Fragaria.git
[submodule "yamlkit"]
	path = yamlkit
	url = git@github.com:mugginsoft/yamlkit.git
[submodule "parsekit"]
	path = parsekit
	url = git@github.com:mugginsoft/parsekit.git
[submodule "markdownlive"]
	path = markdownlive
	url = git@github.com:mugginsoft/markdownlive.git
[submodule "qlmarkdown"]
	path = qlmarkdown
	url = git@github.com:mugginsoft/qlmarkdown.git
[submodule "F-Script"]
	path = F-Script
	url = git@github.com:mugginsoft/F-Script.git
[submodule "jscocoa"]
	path = jscocoa
	url = git@github.com:mugginsoft/jscocoa.git
[submodule "feedbackreporter"]
	path = feedbackreporter
	url = git@github.com:mugginsoft/feedbackreporter.git
[submodule "EMKeyChain"]
	path = EMKeyChain
	url = git@github.com:mugginsoft/EMKeychain.git
[submodule "OpenFeedback"]
	path = OpenFeedback
	url = git@github.com:mugginsoft/OpenFeedback.git
[submodule "PSMTabBarControl"]
	path = PSMTabBarControl
	url = git@github.com:mugginsoft/PSMTabBarControl.git
[submodule "MGTemplateEngine"]
	path = MGTemplateEngine
	url = git@github.com:mugginsoft/MGTemplateEngine.git
[submodule "TCMPortMapper"]
	path = TCMPortMapper
	url = git@github.com:mugginsoft/TCMPortMapper.git
[submodule "appscript"]
	path = appscript
	url = git@github.com:mugginsoft/appscript.git
[submodule "luacocoa"]
	path = luacocoa
	url = git@github.com:mugginsoft/luacocoa.git
[submodule "GRMustache"]
	path = GRMustache
	url = git@github.com:mugginsoft/GRMustache.git
[submodule "openssl-xcode"]
	path = openssl-xcode
	url = git@github.com:mugginsoft/openssl-xcode.git
[submodule "MGSPortChecker"]
	path = MGSPortChecker
	url = git@github.com:mugginsoft/MGSPortChecker.git
