[submodule "Fragaria"]
	path = Fragaria
	url = /Users/Jonathan/Documents/Computing/github/Mugginsoft/Fragaria
[submodule "jscocoa"]
	path = jscocoa
	url = /Users/Jonathan/Documents/Computing/github/jscocoa
[submodule "yamlkit"]
	path = yamlkit
	url = /Users/Jonathan/Documents/Computing/github/Mugginsoft/yamlkit
[submodule "parsekit"]
	path = parsekit
	url = /Users/Jonathan/Documents/Computing/github/parsekit
[submodule "F-Script"]
	path = F-Script
	url = https://github.com/pmougin/F-Script.git
[submodule "markdownlive"]
	path = markdownlive
	url = /Users/Jonathan/Documents/Computing/github/markdownlive
[submodule "qlmarkdown"]
	path = qlmarkdown
	url = https://github.com/toland/qlmarkdown
