<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultID</key>
	<integer>6</integer>
	<key>Resources</key>
	<array>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-06T18:48:10Z</date>
			<key>ID</key>
			<integer>2</integer>
			<key>Info</key>
			<string>Return the argument list</string>
			<key>Name</key>
			<string>Argument list</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-10T13:33:00Z</date>
			<key>ID</key>
			<integer>3</integer>
			<key>Info</key>
			<string>Return an inline format array </string>
			<key>Name</key>
			<string>Array - inline</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-13T22:16:14Z</date>
			<key>ID</key>
			<integer>8</integer>
			<key>Info</key>
			<string>Return a native format array</string>
			<key>Name</key>
			<string>Array - native</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-10T13:33:11Z</date>
			<key>ID</key>
			<integer>4</integer>
			<key>Info</key>
			<string>Return an inline format array styled with CSS styles</string>
			<key>Name</key>
			<string>Array with styling - inline</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-10T13:33:23Z</date>
			<key>ID</key>
			<integer>5</integer>
			<key>Info</key>
			<string>Return an inline format dictionary </string>
			<key>Name</key>
			<string>Dictionary - inline</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-14T09:40:29Z</date>
			<key>ID</key>
			<integer>9</integer>
			<key>Info</key>
			<string>Return a native format dictionary</string>
			<key>Name</key>
			<string>Dictionary - native</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-10T13:33:30Z</date>
			<key>ID</key>
			<integer>6</integer>
			<key>Info</key>
			<string>Return an inline format dictionary styled with CSS styles</string>
			<key>Name</key>
			<string>Dictionary with styling - inline</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-10T18:23:40Z</date>
			<key>ID</key>
			<integer>7</integer>
			<key>Info</key>
			<string>Return an existing file</string>
			<key>Name</key>
			<string>Existing file</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-06T18:38:05Z</date>
			<key>ID</key>
			<integer>1</integer>
			<key>Info</key>
			<string>Base template</string>
			<key>Name</key>
			<string>Hello kosmos</string>
		</dict>
	</array>
</dict>
</plist>
