#include <stdio.h>

int main(int argc, char *argv[])
{

{{ task-input-variables }}

	// {{ task-form-result-message }}
	char *taskResult = "{{ task-default-result }}";
    
    // {{ task-return-result-message }}
    printf("%s\n", taskResult);
    
    return 0;
}
