property taskController : class "KosmicTaskController"

script {{ task-class-name }}
	property parent : class "NSObject"    
    (*

    Task entry point

    *)
    {{>task-function}}

        -- Insert task code here

        -- Return result
        return {{#task-result}}{{.}}{{^}}"{{task-result-message}}"{{/}}

    end {{task-function-name}}

end script
