property taskController : class "KosmicTaskController"

script {{ task-class-name }}
	property parent : class "NSObject"
	(*

	{{ task-entry-message }}

	*)
	{{>task-function}}

		-- {{ task-form-result-message }}
		set taskResult to "{{ task-default-result }}"
		
		-- {{ task-input-result-message }}
        return taskResult

    end {{task-function-name}}

end script
