#
# Created by {{ author }} on {{ date }}
#
# Script: {{ script }}
#
# Credits:
#
# Notes: 
#
# the number of task arguments is:
# $argc
#
# task arguments are accessed as:
# [lindex $argv 0] .. [lindex $argv [expr $argc - 1]]
# 