<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompilerAcceptsOptions</key>
	<string>No</string>
	<key>CompilerProcessType</key>
	<string>In process</string>
	<key>ExecutableFormat</key>
	<string>Source text</string>
	<key>ExecutorAcceptsOptions</key>
	<string>No</string>
	<key>ExecutorProcessType</key>
	<string>In process</string>
	<key>RequireCompileStage</key>
	<string>Yes</string>
	<key>SeparateSyntaxChecker</key>
	<string>No</string>
</dict>
</plist>
