<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultID</key>
	<integer>1</integer>
	<key>Resources</key>
	<array>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-07T16:35:22Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>4</integer>
			<key>Info</key>
			<string>Argument list for C</string>
			<key>Name</key>
			<string>C Argument list</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-11T19:23:46Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>6</integer>
			<key>Info</key>
			<string>Return an inline format array </string>
			<key>Name</key>
			<string>C Array</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-11T20:22:03Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>10</integer>
			<key>Info</key>
			<string>Return an inline format array styled with CSS styles</string>
			<key>Name</key>
			<string>C Array with styling</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-11T19:58:19Z</date>
			<key>DocFileType</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>8</integer>
			<key>Info</key>
			<string>Return an inline format dictionary </string>
			<key>Name</key>
			<string>C Dictionary</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-11T20:22:04Z</date>
			<key>DocFileType</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>12</integer>
			<key>Info</key>
			<string>Return an inline format dictionary styled with CSS styles</string>
			<key>Name</key>
			<string>C Dictionary with styling</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-11T21:23:47Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>14</integer>
			<key>Info</key>
			<string>Return a file</string>
			<key>Name</key>
			<string>C File</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-11T21:31:24Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>15</integer>
			<key>Info</key>
			<string>Return a number of files</string>
			<key>Name</key>
			<string>C Files</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-07T13:00:48Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>1</integer>
			<key>Info</key>
			<string>Base template</string>
			<key>Name</key>
			<string>C Hello Kosmos</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2011-06-10T16:18:06Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>18</integer>
			<key>Info</key>
			<string>Outputs a value to the log</string>
			<key>Name</key>
			<string>C Write to log</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-07T16:45:46Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>5</integer>
			<key>Info</key>
			<string>Argument list for C++</string>
			<key>Name</key>
			<string>C++ Argument list </string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-11T19:27:26Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>7</integer>
			<key>Info</key>
			<string>Return an inline format array </string>
			<key>Name</key>
			<string>C++ Array</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-11T20:22:04Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>11</integer>
			<key>Info</key>
			<string>Return an inline format array styled with CSS styles</string>
			<key>Name</key>
			<string>C++ Array with styling</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-11T20:08:41Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>9</integer>
			<key>Info</key>
			<string>Return an inline format dictionary </string>
			<key>Name</key>
			<string>C++ Dictionary</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-11T20:22:04Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>13</integer>
			<key>Info</key>
			<string>Return an inline format dictionary styled with CSS styles</string>
			<key>Name</key>
			<string>C++ Dictionary with styling</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-11T21:59:40Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>16</integer>
			<key>Info</key>
			<string>Return a file</string>
			<key>Name</key>
			<string>C++ file</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-11T22:01:02Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>17</integer>
			<key>Info</key>
			<string>Return a number of files</string>
			<key>Name</key>
			<string>C++ files</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>CERN</string>
			<key>Date</key>
			<date>2010-08-07T13:59:05Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>2</integer>
			<key>Info</key>
			<string>Simple base template</string>
			<key>Name</key>
			<string>C++ Hello Kosmos</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-07T16:06:35Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>3</integer>
			<key>Info</key>
			<string>Task containing multiple class definitions</string>
			<key>Name</key>
			<string>C++ Multiple classes </string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2011-06-17T12:16:10Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>19</integer>
			<key>Info</key>
			<string>Outputs a value to the log</string>
			<key>Name</key>
			<string>C++ Write to log</string>
		</dict>
	</array>
</dict>
</plist>
