<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultID</key>
	<integer>1</integer>
	<key>Resources</key>
	<array>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-09T10:33:22Z</date>
			<key>ID</key>
			<integer>2</integer>
			<key>Info</key>
			<string>Return the argument list</string>
			<key>Name</key>
			<string>Argument list</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-09T11:54:53Z</date>
			<key>ID</key>
			<integer>3</integer>
			<key>Info</key>
			<string>Return an array</string>
			<key>Name</key>
			<string>Array</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-09T11:59:25Z</date>
			<key>ID</key>
			<integer>4</integer>
			<key>Info</key>
			<string>Return an array styled with CSS styles</string>
			<key>Name</key>
			<string>Array with styling</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-09T12:07:07Z</date>
			<key>ID</key>
			<integer>5</integer>
			<key>Info</key>
			<string>Application automation using Scripting Bridge</string>
			<key>Name</key>
			<string>Automate app with Scripting Bridge</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-09T12:59:01Z</date>
			<key>ID</key>
			<integer>6</integer>
			<key>Info</key>
			<string>Defining new Cocoa classes</string>
			<key>Name</key>
			<string>Class creation</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-09T14:44:19Z</date>
			<key>ID</key>
			<integer>7</integer>
			<key>Info</key>
			<string>Return a dictionary</string>
			<key>Name</key>
			<string>Dictionary</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-09T14:52:13Z</date>
			<key>ID</key>
			<integer>8</integer>
			<key>Info</key>
			<string>Return a dictionary styled with CSS styles</string>
			<key>Name</key>
			<string>Dictionary with styling</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-09T14:59:08Z</date>
			<key>ID</key>
			<integer>9</integer>
			<key>Info</key>
			<string>Return a file</string>
			<key>Name</key>
			<string>File</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-09T15:11:33Z</date>
			<key>ID</key>
			<integer>10</integer>
			<key>Info</key>
			<string>Return a number of files</string>
			<key>Name</key>
			<string>Files</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-08T21:47:07Z</date>
			<key>ID</key>
			<integer>1</integer>
			<key>Info</key>
			<string>Base template</string>
			<key>Name</key>
			<string>Hello kosmos</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-09T15:21:18Z</date>
			<key>ID</key>
			<integer>11</integer>
			<key>Info</key>
			<string>Return a NSArray</string>
			<key>Name</key>
			<string>NSArray</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-09T15:26:41Z</date>
			<key>ID</key>
			<integer>12</integer>
			<key>Info</key>
			<string>Return a NSArray styled with CSS styles</string>
			<key>Name</key>
			<string>NSArray with styling</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-09T23:16:21Z</date>
			<key>ID</key>
			<integer>13</integer>
			<key>Info</key>
			<string>Return a NSDictionary</string>
			<key>Name</key>
			<string>NSDictionary</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-09T23:19:50Z</date>
			<key>ID</key>
			<integer>14</integer>
			<key>Info</key>
			<string>Return a NSDictionary styled with CSS styles</string>
			<key>Name</key>
			<string>NSDictionary with styling</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-10T10:48:08Z</date>
			<key>ID</key>
			<integer>16</integer>
			<key>Info</key>
			<string>A runloop based template using NSTimer</string>
			<key>Name</key>
			<string>NSTimer</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-09T23:22:42Z</date>
			<key>ID</key>
			<integer>15</integer>
			<key>Info</key>
			<string>Access system framework</string>
			<key>Name</key>
			<string>System framework</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2011-06-10T20:33:38Z</date>
			<key>ID</key>
			<integer>17</integer>
			<key>Info</key>
			<string>Outputs a value to the log</string>
			<key>Name</key>
			<string>Write to log</string>
		</dict>
	</array>
</dict>
</plist>
