<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InputArgumentCase</key>
	<string>Camel Case</string>
	<key>InputArgumentName</key>
	<string>Input Name</string>
	<key>InputArgumentStyle</key>
	<string>Whitespace removed</string>
	<key>OnRunTask</key>
	<string>Call Run Function on Run Class</string>
</dict>
</plist>
