<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tasks</key>
	<dict>
		<key>1B9C0FD1-D89E-47AC-859D-05D9E0636D81</key>
		<dict>
			<key>Published</key>
			<true/>
		</dict>
		<key>DB00EC6E-F96D-4CA4-B2E9-B8AB4324B791</key>
		<dict>
			<key>Published</key>
			<true/>
		</dict>
		<key>DFEFE7AC-B2FF-4757-9883-DDA6CE9E02C4</key>
		<dict>
			<key>Published</key>
			<true/>
		</dict>
		<key>F18C2D66-C891-45E8-BF16-FE21E0B6F665</key>
		<dict>
			<key>Published</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
