<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kosmictask</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>KosmicTask</string>
			<key>CFBundleTypeName</key>
			<string>KosmicTask document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.mugginsoft.kosmictask.document</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ktlic</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>KosmicTask</string>
			<key>CFBundleTypeName</key>
			<string>KosmicTask licence</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.mugginsoft.kosmictask.licence</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>KosmicTask Help</string>
	<key>CFBundleHelpBookName</key>
	<string>KosmicTask Help</string>
	<key>CFBundleIconFile</key>
	<string>KosmicTask</string>
	<key>CFBundleIdentifier</key>
	<string>com.mugginsoft.kosmictask</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.7</string>
	<key>CFBundleSignature</key>
	<string>kost</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>KosmicTaskResource URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>KosmicTaskResource</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>70</string>
	<key>FRFeedbackReporter.targetURL</key>
	<string>http://www.mugginsoft.com/feedback/submit.php?application=%@</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.0</string>
	<key>MGSBuildNumber</key>
	<string>12521</string>
	<key>MGSDefaultLanguagePluginClassName</key>
	<string>MGSAppleScriptLanguagePlugin</string>
	<key>MGSDefaultParameterPluginClassName</key>
	<string>MGSTextParameterPlugin</string>
	<key>MGSForumURL</key>
	<string>http://forum.mugginsoft.com/</string>
	<key>MGSHelpURL</key>
	<string>http://www.mugginsoft.com/kosmictask/help</string>
	<key>MGSKosmicTaskReleaseNotesURL</key>
	<string>http://www.mugginsoft.com/kosmictask/releasenotes</string>
	<key>MGSLocalNetworkPrefsHelpURL</key>
	<string>http://www.mugginsoft.com/kosmictask/help/preferences/network/local</string>
	<key>MGSPortCheckerPath</key>
	<string>sys</string>
	<key>MGSPortCheckerURL</key>
	<string>http://portcheck.mugginsoft.com</string>
	<key>MGSPrefsHelpURL</key>
	<string>http://www.mugginsoft.com/kosmictask/help/preferences</string>
	<key>MGSRemoteNetworkPrefsHelpURL</key>
	<string>http://www.mugginsoft.com/kosmictask/help/preferences/network/remote</string>
	<key>MGSStoreURL</key>
	<string>http://www.mugginsoft.com/kosmictask</string>
	<key>MGSSubversionRevision</key>
	<string>0</string>
	<key>MGSSupportEmail</key>
	<string>support@mugginsoft.com</string>
	<key>MGSSupportURL</key>
	<string>http://www.mugginsoft.com/kosmictask/support</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>FRExceptionReportingApplication</string>
	<key>OFSubmitFeedbackURL</key>
	<string>http://www.mugginsoft.com/sys/submitfeedback.php</string>
	<key>OSAScriptingDefinition</key>
	<string>KosmicTask.sdef</string>
	<key>SUFeedURL</key>
	<string>http://www.mugginsoft.com/sites/mugginsoft.com/files/updates/KosmicTask.1.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>kosmictask_sparkle_dsa_pub.pem</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>KosmicTask document</string>
			<key>UTTypeIconFile</key>
			<string>KosmicTask</string>
			<key>UTTypeIdentifier</key>
			<string>com.mugginsoft.kosmictask.document</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.kosmictask.com</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kosmictask</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>KosmicTask licence document</string>
			<key>UTTypeIconFile</key>
			<string>KosmicTask</string>
			<key>UTTypeIdentifier</key>
			<string>com.mugginsoft.kosmictask.licence</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.kosmictask.com</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ktlic</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
