<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Scripts</key>
	<array>
		<dict>
<key>Code</key>
<dict>

</dict>
			<key>Description</key>
			<string>Issue a series of alert beeps at a specified interval</string>
			<key>Description-en</key>
			<string>Issue a series of alert beeps at a specified interval (en)</string>
			<key>Group</key>
			<string>Sound</string>
			<key>Group-en</key>
			<string>Sound</string>
			<key>Name</key>
			<string>Beep</string>
			<key>Name-en</key>
			<string>Beep (en)</string>
			<key>Parameters</key>
			<array>
				<dict>
					<key>Default</key>
					<string>3</string>
					<key>Description</key>
					<string>Number of beeps to generate</string>
					<key>Name</key>
					<string>Count</string>
					<key>Type</key>
					<string>Integer</string>
				</dict>
				<dict>
					<key>Default</key>
					<string>1</string>
					<key>Description</key>
					<string>Interval in seconds between beeps</string>
					<key>Name</key>
					<string>Interval</string>
					<key>Type</key>
					<string>Integer</string>
				</dict>
			</array>
			<key>Published</key>
			<true/>
			<key>UUID</key>
			<string>DB00EC6E-F96D-4CA4-B2E9-B8AB4324B791</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Mute the volume</string>
			<key>Group</key>
			<string>Sound</string>
			<key>Name</key>
			<string>Mute on</string>
			<key>Parameters</key>
			<array/>
			<key>Published</key>
			<true/>
			<key>UUID</key>
			<string>F18C2D66-C891-45E8-BF16-FE21E0B6F665</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Turn volume mute off</string>
			<key>Group</key>
			<string>Sound</string>
			<key>Name</key>
			<string>Mute off</string>
			<key>Parameters</key>
			<array/>
			<key>Published</key>
			<false/>
			<key>UUID</key>
			<string>1B9C0FD1-D89E-47AC-859D-05D9E0636D81</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Speak text</string>
			<key>Group</key>
			<string>Speak</string>
			<key>Name</key>
			<string>Speak</string>
			<key>Parameters</key>
			<array>
				<dict>
					<key>Default</key>
					<string>Hello</string>
					<key>Description</key>
					<string>Text to speak</string>
					<key>Name</key>
					<string>Text</string>
					<key>Type</key>
					<string>String</string>
				</dict>
			</array>
			<key>Published</key>
			<true/>
			<key>UUID</key>
			<string>DFEFE7AC-B2FF-4757-9883-DDA6CE9E02C4</string>
		</dict>
	</array>
</dict>
</plist>
