<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllGroup</key>
	<dict>
		<key>name</key>
		<string>44.png</string>
		<key>location</key>
		<string>ResourceGroupIcons</string>
	</dict>
	<key>Group</key>
	<dict>
		<key>name</key>
		<string>47.png</string>
		<key>location</key>
		<string>ResourceGroupIcons</string>
	</dict>
	<key>Groups</key>
	<dict>
		<key>Photoshop</key>
		<dict>
			<key>name</key>
			<string>36.png</string>
			<key>location</key>
			<string>ResourceGroupIcons</string>
		</dict>
		<key>Address Book</key>
		<dict>
			<key>name</key>
			<string>3.png</string>
			<key>location</key>
			<string>ResourceGroupIcons</string>
		</dict>
		<key>Speak</key>
		<dict>
			<key>name</key>
			<string>104.png</string>
			<key>location</key>
			<string>ResourceGroupIcons</string>
		</dict>
		<key>Find</key>
		<dict>
			<key>name</key>
			<string>12.png</string>
			<key>location</key>
			<string>ResourceGroupIcons</string>
		</dict>
		<key>Mail</key>
		<dict>
			<key>name</key>
			<string>54.png</string>
			<key>location</key>
			<string>ResourceGroupIcons</string>
		</dict>
		<key>Screen</key>
		<dict>
			<key>name</key>
			<string>25.png</string>
			<key>location</key>
			<string>ResourceGroupIcons</string>
		</dict>
		<key>Math</key>
		<dict>
			<key>name</key>
			<string>43.png</string>
			<key>location</key>
			<string>ResourceGroupIcons</string>
		</dict>
		<key>System</key>
		<dict>
			<key>name</key>
			<string>121.png</string>
			<key>location</key>
			<string>ResourceGroupIcons</string>
		</dict>
		<key>Date and time</key>
		<dict>
			<key>name</key>
			<string>50.png</string>
			<key>location</key>
			<string>ResourceGroupIcons</string>
		</dict>
		<key>Sound</key>
		<dict>
			<key>name</key>
			<string>58.png</string>
			<key>location</key>
			<string>ResourceGroupIcons</string>
		</dict>
		<key>Image</key>
		<dict>
			<key>name</key>
			<string>109.png</string>
			<key>location</key>
			<string>ResourceGroupIcons</string>
		</dict>
		<key>Mother test suite</key>
		<dict>
			<key>name</key>
			<string>37.png</string>
			<key>location</key>
			<string>ResourceGroupIcons</string>
		</dict>
		<key>iTunes</key>
		<dict>
			<key>name</key>
			<string>74.png</string>
			<key>location</key>
			<string>ResourceGroupIcons</string>
		</dict>
	</dict>
</dict>
</plist>
