<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultID</key>
	<integer>10</integer>
	<key>Resources</key>
	<array>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-10T12:18:15Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>4</integer>
			<key>Info</key>
			<string>Return a JSON format array </string>
			<key>Name</key>
			<string>Array - JSON</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-19T15:48:31Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>10</integer>
			<key>Info</key>
			<string>Return a native format array</string>
			<key>Name</key>
			<string>Array - native</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-10T12:20:02Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>5</integer>
			<key>Info</key>
			<string>Return a JSON format array with CSS styling</string>
			<key>Name</key>
			<string>Array with styling - JSON</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-10T12:39:51Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>6</integer>
			<key>Info</key>
			<string>Return a JSON format dictionary </string>
			<key>Name</key>
			<string>Dictionary - JSON</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-23T15:03:57Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>11</integer>
			<key>Info</key>
			<string>Return a native format dictionary</string>
			<key>Name</key>
			<string>Dictionary - native</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-10T12:43:28Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>7</integer>
			<key>Info</key>
			<string>Return a JSON format dictionary styled with CSS styles</string>
			<key>Name</key>
			<string>Dictionary with styling - JSON</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-10T12:45:39Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>8</integer>
			<key>Info</key>
			<string>Return a file</string>
			<key>Name</key>
			<string>File</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-10T13:03:37Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>9</integer>
			<key>Info</key>
			<string>Return a number of files</string>
			<key>Name</key>
			<string>Files</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-04T18:56:31Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>1</integer>
			<key>Info</key>
			<string>Simple base template</string>
			<key>Name</key>
			<string>Hello kosmos</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2034-02-12T19:54:27Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>13</integer>
			<key>Info</key>
			<string>Return the task inputs</string>
			<key>Name</key>
			<string>Inputs</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-04T19:02:59Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>2</integer>
			<key>Info</key>
			<string>Task containing multiple class definitions</string>
			<key>Name</key>
			<string>Multiple Classes</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2011-06-10T19:54:27Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>12</integer>
			<key>Info</key>
			<string>Outputs a value to the log</string>
			<key>Name</key>
			<string>Write to log</string>
		</dict>
	</array>
</dict>
</plist>
