@charset "UTF-8";
/* CSS Document */

#exdoc {
width: 100%;
}

#exdoc #sidebar {
float: left;
width: 25%;
}
#exdoc #sidebar .inner {
	margin: 0px 10px 0px 0px;
}

#exdoc #content {
float: left;
width: 75%;
}

#exdoc #content .inner {
	margin: 0px 10px 0px 10px;
}

