<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Export Plugin PDF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>Export Plugin Plain Text.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>Export Plugin Plist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Export Plugin RTF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>Export Plugin XML.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>Export Plugin YAML.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>KosmicTask (Release).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>KosmicTask.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>KosmicTaskAppleScriptCocoaRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>KosmicTaskAppleScriptRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>KosmicTaskBashRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>KosmicTaskCINTRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>KosmicTaskCshRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>KosmicTaskF-ScriptRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>KosmicTaskJavaRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>KosmicTaskJavaScriptCocoaRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>KosmicTaskJavaScriptRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>KosmicTaskKshRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>KosmicTaskLuaCocoaRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>KosmicTaskLuaRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>KosmicTaskPerlRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>KosmicTaskPhpRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>KosmicTaskPythonObjCRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>KosmicTaskPythonRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>KosmicTaskRubyCocoaRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>KosmicTaskRubyRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>KosmicTaskScalaRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>KosmicTaskServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>KosmicTaskTclshRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>KosmicTaskTcshRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>KosmicTaskZshRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>Language Plugin AppleScript Cocoa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>Language Plugin AppleScript.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>Language Plugin Bash Shell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>Language Plugin C Shell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>Language Plugin CINT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>Language Plugin F-Script.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>Language Plugin JSCocoa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Language Plugin Java.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>Language Plugin JavaScript.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>Language Plugin Korn Shell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>Language Plugin Lua.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>Language Plugin LuaCocoa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>Language Plugin Perl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>Language Plugin Php.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>Language Plugin Python.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>Language Plugin PythonObjC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>Language Plugin Ruby.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Language Plugin RubyCocoa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>Language Plugin Scala.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>Language Plugin TENEX C Shell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>Language Plugin Tcl Shell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Language Plugin Z Shell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>MGSKosmicTask.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>MGSKosmicTaskRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>NDScript.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>Parameter Plugin Date.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>Parameter Plugin File.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>Parameter Plugin List.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>Parameter Plugin Number.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>Parameter Plugin Text.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Send Plugin Excel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Send Plugin Mail.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>Send Plugin Numbers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>Send Plugin Pages.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>Send Plugin TextEdit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>Send Plugin Word.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>Test KosmicTask App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>091835EE0D0C34DF008604BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0953D02A0CD941AD00519488</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09C09E250CDC7D710048BC79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1107260486CEB800E47090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB1512E50DE4BD17002280E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB1513180DE4BD62002280E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB15609F118DA83300DC01C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB1560EE118DA87E00DC01C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB156139118DA91300DC01C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB156189118DA9AC00DC01C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB1561D4118DAA1E00DC01C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB1914B912AFD8A500710031</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB1915CB12AFD90300710031</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB27AD041189E86A00132977</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB27AF541189F17400132977</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB27B0A9118A104900132977</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB27B18E118A12B500132977</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB27B287118A18D400132977</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB316709128D402C0037EF1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB3180AF12B2884D001E821B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB36002A11886EF700F1E894</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB36006211886FD600F1E894</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB4A5CB0120D7753006A66CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB4A5D03120D775B006A66CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB4D19010DE2D49400D0E517</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB5624A0118DAFAD0012487B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB5624F4118DB0FF0012487B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB562542118DB1040012487B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB562591118DB1090012487B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB5625E0118DB10F0012487B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB5CD945118AEC4B00C545CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB5CDAAE118AF38200C545CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB5CDAF5118AF3EF00C545CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB6675751205B9DD006763E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB6675CB1205B9E2006763E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB6677751205BEB7006763E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB6677CB1205BEC0006763E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB69B0A1118AFDAB00903D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB69B179118AFE5F00903D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB69B2C8118B007500903D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB69B34A118B00FB00903D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB92D08912047BD20025EAEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB92D0A912047C100025EAEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB9B271B0DFC754E00CDA79A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB9CB73A118AEA6D006F19F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB9DC3900DE5CDF200B85F5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB9E8FD30DE1CA0C00501378</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABA2478A0DE2CEEB00BD2A66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABA2FD000DE4CA0C00589B2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABA301BB0DE4B1BD002DB3F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABA301D40DE4B245002DB3F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABA8E2661188BA2E00414A7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABADEE01104D32A9007A5319</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABAFC6B80DF9B0DB00349FC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABAFC79B0DF9C5B200349FC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABAFC7C20DF9C5C200349FC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABAFC7E90DF9C5C700349FC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABBA121112B28B16005F12A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABD6689C0DE6034C00097C1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABD668CA0DE6035000097C1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABDBEB3713927AC600553735</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABE3302E118624A90070EF32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABE330D7118626EA0070EF32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABE7815A132516D800663CBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABE78241132516FF00663CBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABFFCD81120D5A09005CC65A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABFFCD9A120D5A28005CC65A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
