class {{ task-class-name }}
{ 
    /*

    {{ task-entry-message }}

    */	
    public static void main(String args[])
    {
        {{task-input-variables}}

        // Insert task code here 

        // Return result
        System.out.println("result");
    }
}
