class {{ task-class-name }}
{ 
	/*

	{{ task-entry-message }}

	*/
	public static void main(String args[])
	{

{{ task-input-variables }}

		// {{ task-form-result-message }}
		String taskResult = "{{ task-default-result }}";
		
		// {{ task-return-result-message }}
		System.out.println(taskResult);
	}
}
