(*

{{ task-function-name }}

*)
{{> task-function }}

	-- {{ task-form-result-message }}
	set taskResult to "{{ task-default-result }}"
	
	-- {{ task-input-result-message }}
	return taskResult

end {{ task-function-name }}
