property taskController : class "KosmicTaskController"

script {{ task-class-name }}
	property parent : class "NSObject"
	(*

	{{ task-entry-message }}

	*)
	{{> task-function }}

		try
	
{{> task-input-result }}

		on error errorMessage number errorNumber

			return {kosmicError:errorMessage}

		end try

    end {{ task-function-name }}

end script
