<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultID</key>
	<integer>1</integer>
	<key>Resources</key>
	<array>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-10T20:39:23Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>5</integer>
			<key>Info</key>
			<string>Return a JSON format array </string>
			<key>Name</key>
			<string>Array - JSON</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-21T16:14:47Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>11</integer>
			<key>Info</key>
			<string>Return a native format</string>
			<key>Name</key>
			<string>Array - native</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-10T20:39:25Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>6</integer>
			<key>Info</key>
			<string>Return a JSON format array styled with CSS styles</string>
			<key>Name</key>
			<string>Array with styling - JSON</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Jonathan</string>
			<key>Date</key>
			<date>2010-06-09T10:36:39Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>4</integer>
			<key>Info</key>
			<string>Application automation using Scripting Bridge</string>
			<key>Name</key>
			<string>Automate app with Scripting Bridge</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-10T20:39:27Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>7</integer>
			<key>Info</key>
			<string>Return a JSON format dictionary </string>
			<key>Name</key>
			<string>Dictionary - JSON</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-21T16:39:34Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>12</integer>
			<key>Info</key>
			<string>Return a native format dictionary</string>
			<key>Name</key>
			<string>Dictionary - native</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-10T20:39:29Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>8</integer>
			<key>Info</key>
			<string>Return a JSON format dictionary styled with CSS styles</string>
			<key>Name</key>
			<string>Dictionary with styling - JSON</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-10T20:49:46Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>9</integer>
			<key>Info</key>
			<string>Return a file</string>
			<key>Name</key>
			<string>File</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-10T20:49:49Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>10</integer>
			<key>Info</key>
			<string>Return a number of files</string>
			<key>Name</key>
			<string>Files</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-05-28T11:07:31Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>1</integer>
			<key>Info</key>
			<string>Simple base template</string>
			<key>Name</key>
			<string>Hello kosmos</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-05-28T11:07:31Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>2</integer>
			<key>Info</key>
			<string>Return the task inputs</string>
			<key>Name</key>
			<string>Inputs</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2011-06-10T20:44:19Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>13</integer>
			<key>Info</key>
			<string>Outputs a value to the log</string>
			<key>Name</key>
			<string>Write to log</string>
		</dict>
	</array>
</dict>
</plist>
