<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultID</key>
	<integer>1</integer>
	<key>Resources</key>
	<array>
		<dict>
			<key>Author</key>
			<string>Masaharu Goto</string>
			<key>Date</key>
			<date>2010-08-07T11:29:37Z</date>
			<key>DocFileType</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>2</integer>
			<key>Info</key>
			<string>CINT abstract</string>
			<key>Name</key>
			<string>Abstract</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>CERN</string>
			<key>Date</key>
			<date>2010-08-07T13:49:55Z</date>
			<key>DocFileType</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>6</integer>
			<key>Info</key>
			<string>CINT error messages</string>
			<key>Name</key>
			<string>Error messages</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>CERN</string>
			<key>Date</key>
			<date>2010-08-07T13:46:34Z</date>
			<key>DocFileType</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>5</integer>
			<key>Info</key>
			<string>CINT faq</string>
			<key>Name</key>
			<string>FAQ</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Masaharu Goto</string>
			<key>Date</key>
			<date>2010-08-07T13:52:36Z</date>
			<key>DocFileType</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>8</integer>
			<key>Info</key>
			<string>CINT language limitations</string>
			<key>Name</key>
			<string>Language limitations</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-07T17:18:30Z</date>
			<key>DocFileType</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>9</integer>
			<key>Info</key>
			<string>Web links</string>
			<key>Name</key>
			<string>Links</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Masaharu Goto</string>
			<key>Date</key>
			<date>2010-08-07T13:37:32Z</date>
			<key>DocFileType</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>4</integer>
			<key>Info</key>
			<string>CINT man page</string>
			<key>Name</key>
			<string>Man page</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>CERN</string>
			<key>Date</key>
			<date>2010-08-07T13:51:29Z</date>
			<key>DocFileType</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>7</integer>
			<key>Info</key>
			<string>CINT quantitive limitations</string>
			<key>Name</key>
			<string>Quantitative limitations</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Masaharu Goto</string>
			<key>Date</key>
			<date>2010-08-07T13:35:10Z</date>
			<key>DocFileType</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>3</integer>
			<key>Info</key>
			<string>CINT reference manual</string>
			<key>Name</key>
			<string>Reference manual</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-07T11:28:12Z</date>
			<key>DocFileType</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>1</integer>
			<key>Info</key>
			<string>CINT usage</string>
			<key>Name</key>
			<string>Usage</string>
		</dict>
	</array>
</dict>
</plist>
