#
# Created by {{ author }} on {{ date }}
#
# Script: {{ script }}
#
# Credits:
#
# Notes: 
#
# Links:
#
# Apple's take on accessing Cocoa from Python
# http://developer.apple.com/cocoa/pyobjc.html
#
# PyObjC documentation (including framework API notes)
# http://pyobjc.sourceforge.net/documentation/
#