<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>227</integer>
		</dict>
		<key>democlient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>228</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B63F85C0839472E00D0CCA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BF5833D0833F7B500D7EDA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
