<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ClassName</key>
		<string>ScriptDataPassing</string>
		<key>RunSelected</key>
		<true/>
		<key>TestName</key>
		<string>Script Data Passing</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>ScriptHandlerPassing</string>
		<key>RunSelected</key>
		<true/>
		<key>TestName</key>
		<string>Script Handler Passing</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>SettingParent</string>
		<key>RunSelected</key>
		<true/>
		<key>TestName</key>
		<string>Setting Script Parent and Overridding</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>ProcedureCalling</string>
		<key>RunSelected</key>
		<true/>
		<key>TestName</key>
		<string>Call Positional and Labled Procedures</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>ReturningTypes</string>
		<key>RunSelected</key>
		<true/>
		<key>TestName</key>
		<string>Returning Different Types</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>ScriptObjectSpecifiers</string>
		<key>RunSelected</key>
		<true/>
		<key>TestName</key>
		<string>Passing a Script Object Specifier</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>SingleThread</string>
		<key>RunSelected</key>
		<true/>
		<key>TestName</key>
		<string>Single Threaded Send AppleEvents</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>SendAppleEventToSelf</string>
		<key>RunSelected</key>
		<true/>
		<key>TestName</key>
		<string>Threaded Send To Self</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>SendAppleEventTest</string>
		<key>RunSelected</key>
		<true/>
		<key>TestName</key>
		<string>Threaded Send AppleEvents</string>
	</dict>
	<dict>
		<key>Separator</key>
		<true/>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>SendAppleEventToQuitApplication</string>
		<key>TestName</key>
		<string>Send an AppleEvent to a Quit Application</string>
	</dict>
</array>
</plist>
