#
# Created by {{ author }} on {{ date }}
#
# Script: {{ script }}
#
# Credits:
#
# Notes: 
#
# Links:
#
# Apple's take on accessing Cocoa from Python
# http://developer.apple.com/cocoa/pyobjc.html
#
# RubyCocoa documentation
# http://rubycocoa.sourceforge.net
#
# Tips and tools
# http://www.rubyinside.com/the-ultimate-list-of-rubycocoa-tutorials-tips-and-tools-728.html
#