<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultID</key>
	<integer>1</integer>
	<key>Resources</key>
	<array>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-05-28T11:07:31Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>2</integer>
			<key>Info</key>
			<string>Return the argument list</string>
			<key>Name</key>
			<string>Argument list</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-05-28T11:07:31Z</date>
			<key>DocFileType</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>12</integer>
			<key>Info</key>
			<string>Return an array</string>
			<key>Name</key>
			<string>Array</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-05-28T11:07:31Z</date>
			<key>DocFileType</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>13</integer>
			<key>Info</key>
			<string>Return a NSArray styled with CSS styles</string>
			<key>Name</key>
			<string>Array with styling</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-05-28T11:07:31Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>3</integer>
			<key>Info</key>
			<string>Application automation using appscript</string>
			<key>Name</key>
			<string>Automate app with appscript</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-05-28T11:07:31Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>16</integer>
			<key>Info</key>
			<string>Application automation using Scripting Bridge</string>
			<key>Name</key>
			<string>Automate app with Scripting Bridge</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-05-28T11:07:31Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>8</integer>
			<key>Info</key>
			<string>Return a file</string>
			<key>Name</key>
			<string>File</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-05-28T11:07:31Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>17</integer>
			<key>Info</key>
			<string>Return a number of files</string>
			<key>Name</key>
			<string>Files</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-05-28T11:07:31Z</date>
			<key>DocFileType</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>14</integer>
			<key>Info</key>
			<string>Return a hash</string>
			<key>Name</key>
			<string>Hash</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-05-28T11:07:31Z</date>
			<key>DocFileType</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>15</integer>
			<key>Info</key>
			<string>Return a hash styled with CSS styles</string>
			<key>Name</key>
			<string>Hash with styling</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-05-28T11:07:31Z</date>
			<key>DocFileType</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>1</integer>
			<key>Info</key>
			<string>Simple base template</string>
			<key>Name</key>
			<string>Hello kosmos</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-05-28T11:07:31Z</date>
			<key>DocFileType</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>6</integer>
			<key>Info</key>
			<string>Return a NSArray</string>
			<key>Name</key>
			<string>NSArray</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-05-28T11:07:31Z</date>
			<key>DocFileType</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>9</integer>
			<key>Info</key>
			<string>Return a NSArray styled with CSS styles</string>
			<key>Name</key>
			<string>NSArray with styling</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-05-28T11:07:31Z</date>
			<key>DocFileType</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>7</integer>
			<key>Info</key>
			<string>Return a NSDictionary</string>
			<key>Name</key>
			<string>NSDictionary</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-05-28T11:07:31Z</date>
			<key>DocFileType</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>10</integer>
			<key>Info</key>
			<string>Return a NSDictionary styled with CSS styles</string>
			<key>Name</key>
			<string>NSDictionary with styling</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Jonathan</string>
			<key>Date</key>
			<date>2010-06-03T13:47:26Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>5</integer>
			<key>Info</key>
			<string>A runloop based template using NSTimer</string>
			<key>Name</key>
			<string>NSTimer</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-05-28T11:07:31Z</date>
			<key>DocFileType</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>4</integer>
			<key>Info</key>
			<string>Access system framework</string>
			<key>Name</key>
			<string>System framework</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2011-06-10T21:02:29Z</date>
			<key>DocFileType</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>18</integer>
			<key>Info</key>
			<string>Outputs a value to the log</string>
			<key>Name</key>
			<string>Write to log</string>
		</dict>
	</array>
</dict>
</plist>
