<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultID</key>
	<integer>6</integer>
	<key>Resources</key>
	<array>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-06T18:48:10Z</date>
			<key>ID</key>
			<integer>2</integer>
			<key>Info</key>
			<string>Return the argument list</string>
			<key>Name</key>
			<string>Argument list</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-10T13:33:00Z</date>
			<key>ID</key>
			<integer>3</integer>
			<key>Info</key>
			<string>Return an array</string>
			<key>Name</key>
			<string>Array</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-13T22:16:14Z</date>
			<key>ID</key>
			<integer>8</integer>
			<key>Info</key>
			<string>Return an array</string>
			<key>Name</key>
			<string>Array 2</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-10T13:33:11Z</date>
			<key>ID</key>
			<integer>4</integer>
			<key>Info</key>
			<string>Return an array styled with CSS styles</string>
			<key>Name</key>
			<string>Array with styling</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-11T16:00:35Z</date>
			<key>ID</key>
			<integer>12</integer>
			<key>Info</key>
			<string>Application automation using Scripting Bridge</string>
			<key>Name</key>
			<string>Automate app with Scripting Bridge</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-11T15:13:41Z</date>
			<key>ID</key>
			<integer>10</integer>
			<key>Info</key>
			<string>Defining new Cocoa classes</string>
			<key>Name</key>
			<string>Class creation</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-10T13:33:23Z</date>
			<key>ID</key>
			<integer>5</integer>
			<key>Info</key>
			<string>Return a dictionary</string>
			<key>Name</key>
			<string>Dictionary</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-14T09:40:29Z</date>
			<key>ID</key>
			<integer>9</integer>
			<key>Info</key>
			<string>Return a dictionary</string>
			<key>Name</key>
			<string>Dictionary 2</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-10T13:33:30Z</date>
			<key>ID</key>
			<integer>6</integer>
			<key>Info</key>
			<string>Return a dictionary styled with CSS styles</string>
			<key>Name</key>
			<string>Dictionary with styling</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-10T18:23:40Z</date>
			<key>ID</key>
			<integer>7</integer>
			<key>Info</key>
			<string>Return a file</string>
			<key>Name</key>
			<string>File</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-11T15:42:41Z</date>
			<key>ID</key>
			<integer>11</integer>
			<key>Info</key>
			<string>Return a number of files</string>
			<key>Name</key>
			<string>Files</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-06T18:38:05Z</date>
			<key>ID</key>
			<integer>1</integer>
			<key>Info</key>
			<string>Base template</string>
			<key>Name</key>
			<string>Hello kosmos</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-11T16:39:57Z</date>
			<key>ID</key>
			<integer>14</integer>
			<key>Info</key>
			<string>Return a NSArray</string>
			<key>Name</key>
			<string>NSArray</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-11T16:41:52Z</date>
			<key>ID</key>
			<integer>15</integer>
			<key>Info</key>
			<string>Return a NSArray styled with CSS styles</string>
			<key>Name</key>
			<string>NSArray with styling</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-11T16:46:10Z</date>
			<key>ID</key>
			<integer>16</integer>
			<key>Info</key>
			<string>Return a NSDictionary</string>
			<key>Name</key>
			<string>NSDictionary</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-11T16:48:27Z</date>
			<key>ID</key>
			<integer>17</integer>
			<key>Info</key>
			<string>Return a NSDictionary styled with CSS styles</string>
			<key>Name</key>
			<string>NSDictionary with styling</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-11T16:54:37Z</date>
			<key>ID</key>
			<integer>18</integer>
			<key>Info</key>
			<string>A runloop based template using NSTimer</string>
			<key>Name</key>
			<string>NSTimer</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-12-11T16:33:32Z</date>
			<key>ID</key>
			<integer>13</integer>
			<key>Info</key>
			<string>Access system framework</string>
			<key>Name</key>
			<string>System framework</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2011-06-10T20:15:57Z</date>
			<key>ID</key>
			<integer>19</integer>
			<key>Info</key>
			<string>Outputs a value to the log</string>
			<key>Name</key>
			<string>Write to log</string>
		</dict>
	</array>
</dict>
</plist>
