<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultID</key>
	<integer>1</integer>
	<key>Resources</key>
	<array>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-06T18:32:42Z</date>
			<key>ID</key>
			<integer>2</integer>
			<key>Info</key>
			<string>Java links</string>
			<key>Name</key>
			<string>Links</string>
		</dict>
		<dict>
			<key>Author</key>
			<string>Mugginsoft</string>
			<key>Date</key>
			<date>2010-08-04T18:48:29Z</date>
			<key>ID</key>
			<integer>1</integer>
			<key>Info</key>
			<string>Java usage</string>
			<key>Name</key>
			<string>Usage</string>
		</dict>
	</array>
</dict>
</plist>
